{% extends 'base.html.twig' %}

{% block title %}Edit Article
{% endblock %}

{% block body %}
	<h1>Edit Article</h1>

	{% if article.image %}
		<p>Image actuelle :</p>
		<img src="{{ asset('uploads/images/' ~ article.image) }}" width="150">
		<hr>
	{% endif %}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-primary">Save</button>
	{{ form_end(form) }}

	<a href="{{ path('app_article_index') }}">back to list</a>
{% endblock %}
